<a href="https://colab.research.google.com/github/Tejasri1557/ADM_2025/blob/main/lab_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Data Encoding

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Example data
data = {'Category': ['red','blue','green']}
df = pd.DataFrame(data)
# Label Encoding
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])
# One-hot Encoding
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

  Category  Label_Encoded  Category_blue  Category_green  Category_red
0      red              2          False           False          True
1     blue              0           True           False         False
2    green              1          False            True         False

2. Creating Derived Columns

In [10]:
from datetime import datetime
# Example data
data = {'Name': ['teju', 'chikky'], 'Date_of_Birth': ['2006-05-25', '2006-08-23']}
df = pd.DataFrame(data)
# Convert Date_of_Birth to datetime
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
# Calculate Age
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

     Name Date_of_Birth  Age
0    teju    2006-05-25   19
1  chikky    2006-08-23   19

3. Grouping and Aggregating Data

In [9]:
# Example data
data = {'Category': ['A1', 'B1', 'C1', 'D1', 'D2'],
 'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)
# Group by and aggregate
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)
# Pivot table
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum',
'mean'])
print("\nPivot Table:\n", pivot)

Grouped Data:
          Value
           sum  mean
Category
A1          10  10.0
B1          20  20.0
C1          10  10.0
D1          30  30.0
D2          40  40.0

Pivot Table:
            sum  mean
         Value Value
Category
A1          10  10.0
B1          20  20.0
C1          10  10.0
D1          30  30.0
D2          40  40.0